<% layout("/layouts/boilerplate")%>
<body>

<div class="container mt-5">

<div class="row justify-content-center">

<div class="col-lg-6">

<h3 class="mb-4 fw-bold">Edit Your Listing</h3>

<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

<div class="mb-3">
<label for="title" class="form-label">Title</label>
<input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
</div>

<div class="mb-3">
<label for="desription" class="form-label">Description</label>
<textarea name="listing[description]" rows="3" class="form-control"><%= listing.description %></textarea>
</div>

<div class="mb-3">
  <label class="form-label">Image Link</label>

  <input 
    name="listing[image][url]" 
    value="<%= listing.image.url %>" 
    type="text" 
    class="form-control">

  <!-- 🔥 YE ADD KARNA HI HAI -->
  <input 
    type="hidden" 
    name="listing[image][filename]" 
    value="<%= listing.image.filename %>">
</div>

<div class="row">

<div class="mb-3 col-lg-6">
<label for="price" class="form-label">Price</label>
<input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control">
</div>

<div class="mb-3 col-lg-6">
<label for="country" class="form-label">Country</label>
<input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control">
</div>

</div>

<div class="mb-3">
<label for="location" class="form-label">Location</label>
<input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control">
</div>

<div>
    <button class="btn btn-danger fw-bold">
        Edit Listing
    </button>
</div>

</form>

</div>

</div>

</div>
</body>
